<html>
<body>
<h1>Unknown user detected. Create a new user here:</h1>

<form action="/create-user" method="post">
    <input type="text" placeholder="Enter new username" name="loginName"/>
    <input type="text" placeholder="Enter new password" name="userPassword"/>
    <button type="submit">Submit</button>
</form>


</body>
</html>