<html>
<body>


<h1>Login to post!</h1>

<form action="/login" method="post">
    <p>
        <input type="text" name="username" value="" placeholder="Username">
    </p>
    <p>
        <input type="password" name="password" value="" placeholder="Password">
    </p>
    <button type="submit">Submit</button>
</form>

<br>

</body>
</html>